ROBOT_LINK_BONE_HOST=192.168.7.2
ROBOT_LINK_BONE_PORT=5555
ROBOT_LINK_ALSA_DEVICE=default
ROBOT_LINK_SOUND_DIR=/usr/local/share/robot-link/sounds
ROBOT_LINK_TTS_COMMAND=/usr/local/bin/speak_text
ROBOT_LINK_SHUTDOWN_DELAY=5
ROBOT_LINK_DRY_RUN=1

